/* Name: Luke Revard | Assignment: Hands-On Project: CSS Text Styling */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    line-height: 1.8;
    color: #333333;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #2c3e50;
    margin-bottom: 20px;}

h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: #3498db;
    margin-top: 40px;
    margin-bottom: 15px;}

p {
    text-align: justify;
    margin-bottom: 20px;}

ul {
    line-height: 1.6;
    margin-left: 40px;
    list-style-type: disc;}

li {
    margin-bottom: 10px;}

a {
    color: #3498db;
    text-decoration: none;
    font-weight: 600;}

a:hover {
    text-decoration: underline;}